/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  overflow:auto;
}

.flex-container {
  height: 100%;
  display: flex;
}

.flex-columns {
  flex-direction: column;
}

.flex-rows {
  flex-direction: row;
}

.flex-item {
  flex-grow: 1;
  text-align: center;
  padding: 2em;
  text-align: left;
  margin: 0 5px;
}

.fill {
  flex: 1;
}

.p-card-margin {
  margin: 2px 0;
}

.scrollbar {
  overflow: scroll;
}

.scrollbar-child{
  overflow-y: auto;
  max-height: 550px;
}

/*



.fullHeight {
  height: 100%;
}


*/
